<div class="tab-pane active" id="daftar">
    <h1>{/title/}</h1>
    <br/>
    <p>
        <!--<button type="button" ng-click="toggleModal()" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Tambah Data</button>-->
        <button ng-click="toggleModal()" class="btn btn-default">Open modal</button>
    </p>
    <br/>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Make</th>
                <th>Model</th>
                <th>Prise</th>
                <th>func</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items">
                <th scope="row">{/item.id/}</th>
                <td>{/item.make/}</td>
                <td>{/item.model/}</td>
                <td>{/item.price|currency/}</td>
                <td>
                    <a href="#" ng-click="toggleModal(item.id)"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    <a href=""><span class="glyphicon glyphicon-trash"></span> Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul class="pagination">
        <li class="disabled"><a href="#">&laquo;</a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">&raquo;</a></li>
    </ul>
</div>

<!-- modal for for creating new product -->
<modal title="{/title/}" visible="showModal">
    <!--{/make|json/}-->
    <form role="form" name="form" ng-submit="submit()" ng-controller="FormController">
        <div class="form-group">
            <label for="model">Model</label>
            <input type="text" ng-model="formData.model" required class="form-control" id="model" placeholder="Model">
        </div>
        <div class="form-group">
            <label for="make">Make</label>
            <input type="text" ng-model="formData.make" required class="form-control" id="make" placeholder="Make">

        </div>
        <div class="form-group">
            <label for="prise">Price</label>
            <input type="text" ng-model="formData.price" required class="form-control" id="prise" placeholder="Prise">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <!--<button type="button" class="btn btn-success">Back</button>-->
    </form>
</modal>
</div>